@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.header {
    padding-top: 196px;
    padding-bottom: 156px;
    position: relative;
    background: 
        url(img/big-star.svg) top -333px left 60vw no-repeat,
        url(img/star2.svg) top 94px left 4.5vw no-repeat,
        url(img/star3.svg) top 69px left 10.8vw no-repeat,
        url(img/star4.svg) top 538px left 67.6vw no-repeat,
        url(img/star5.svg) top 568px left 70.3vw no-repeat,
        rgb(225, 255, 143);
    background-attachment: local;

    &__title {
        @include title-style;
        color: #202027;
    }

    &__text {
        margin-top: 24px;
        @include text-style;
        color: #202027;

        &-bold {
            font-weight: bold;
        }
    }

    &__button {
        margin-top: 48px;
        @include button-style;
    }
}

.scrollbar {
    padding-top: 45px;
    padding-bottom: 45px;
    background: #BCEC30;
    background: url(img/scrollbar.jpeg) no-repeat;
}

// .breadcrumb {
//     display: flex;
//     gap: 51px;

//     &__link {
//         display: inline-block;
//         font-size: 30px;
//         font-weight: 700;
//         line-height: 110%;
//         letter-spacing: 4%;
//         color: #202027;
//     }
// }

.about {
    padding-top: 94px;
    padding-bottom: 50px;
    background:
    url(img/sec_big_star.svg) top 90px left 67.4vw no-repeat,
    url(img/sec_med_star.svg) top 822px left 2.8vw no-repeat,
    url(img/sec_small_star.svg) top 770px left 1.7vw no-repeat,
    #202027;

    &__title {
        @include title-style;
        color: #fff;
    }

    &__text {
        margin-top: 24px;
        @include text-style;
        color: #fff;
    }

    &__content {
        margin-top: 72px;
        display: grid;
        align-items: start;
        // grid-template-columns: repeat(12, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
        gap: 32px;

        &_end {
            margin-top: 0;
            align-items: end;
        }

        .game-card {
            max-width: 378px;
            overflow: hidden;
            height: auto;
            // grid-column: span 4;
            border-radius: 30px;
            background: #fff;

            &__img {
                border-radius: 30px;
                height: auto;
                aspect-ratio: 5 / 4;

                &_item1 {
                    background:
                    url(img/guess_the_number_ico.svg) center top 40px no-repeat,
                    url(img/guess_the_number.png) center no-repeat,
                    #AD61FF;
                }

                &_item2 {
                    background:
                    url(img/simple_arithmetic.svg) center no-repeat,
                    #FDAD00;
                }

                &_item3 {
                    background:
                    url(img/flip_the_text.svg) center no-repeat,
                    #565EEF;
                }

                &_item4 {
                    background:
                    url(img/stone-scissors-paper-hend.png) center no-repeat,
                    url(img/stone-scissors-paper-card.svg) center top 24px no-repeat,
                    url(img/stone-scissors-paper.svg) center no-repeat,
                    #271A58;
                }

                &_item5 {
                    background:
                    url(img/simple_quiz_card.svg) center top 25px no-repeat,
                    url(img/simple_quiz.svg) center no-repeat,
                    #99D100;
                }

                &_item6 {
                    background:
                    url(img/random_color.svg) top 50% left 35% no-repeat,
                    #271A58;
                }
            }

            &__info {
                padding: 32px 32px 36px 32px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 16px;
            }

            &__number {
                @include game-card-number-style;
            }

            &__name {
                @include game-card-name-style;
            }
        } 
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #BCEC30;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}