@use 'vars' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.header {
    padding-top: 196px;
    padding-bottom: 156px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: 
        url(img/big-star.svg) top -333px left 60vw no-repeat,
        url(img/star2.svg) top 94px left 4.5vw no-repeat,
        url(img/star3.svg) top 69px left 10.8vw no-repeat,
        url(img/star4.svg) top 538px left 67.6vw no-repeat,
        url(img/star5.svg) top 568px left 70.3vw no-repeat,
        rgb(225, 255, 143);
    background-attachment: local;

    &__title {
        @include title-style;
        color: #202027;
    }

    &__text {
        margin-top: 24px;
        max-width: 720px;
        @include text-style;
        color: #202027;

        &-bold {
            font-weight: bold;
        }
    }

    &__button {
        margin-top: 48px;
        @include button-style;
    }
}

.about {
    padding-top: 94px;
    padding-bottom: 50px;
    background:
    url(img/sec_big_star.svg) top 90px left 67.4vw no-repeat,
    url(img/sec_med_star.svg) top 822px left 2.8vw no-repeat,
    url(img/sec_small_star.svg) top 770px left 1.7vw no-repeat,
    #202027;

    &__title {
        @include title-style;
        color: #fff;
    }

    &__text {
        margin-top: 24px;
        margin-bottom: 72px;
        @include text-style;
        color: #fff;
    }

    &__content {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
        column-gap: 32px;

        & > :nth-child(n+4):nth-child(-n+6) {
            align-self: end;
        }

        .game-card {
            max-width: 378px;
            overflow: hidden;
            height: auto;
            border-radius: 30px;
            background: #fff;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &__img {
                border-radius: 30px;
                height: auto;
                aspect-ratio: 5 / 4.154;

                &_item1 {
                    background:
                    url(img/guess_the_number_ico.svg) center top 40px no-repeat,
                    url(img/guess_the_number.png) center no-repeat,
                    #AD61FF;
                }

                &_item2 {
                    background:
                    url(img/simple_arithmetic.svg) center no-repeat,
                    #FDAD00;
                }

                &_item3 {
                    background:
                    url(img/flip_the_text.svg) center no-repeat,
                    #565EEF;
                }

                &_item4 {
                    background:
                    url(img/stone-scissors-paper-hend.png) center no-repeat,
                    url(img/stone-scissors-paper-card.svg) center top 28px no-repeat,
                    url(img/stone-scissors-paper.svg) center no-repeat,
                    #271A58;
                }

                &_item5 {
                    background:
                    url(img/simple_quiz_card.svg) center top 28px no-repeat,
                    url(img/simple_quiz.svg) center no-repeat,
                    #99D100;
                }

                &_item6 {
                    background:
                    url(img/random_color.svg) top 50% left 35% no-repeat,
                    #271A58;
                }
            }

            &__info {
                padding: 32px 32px 36px 32px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
                gap: 16px;
            }

            &__number {
                @include game-card-number-style;
            }

            &__name {
                @include game-card-name-style;
            }
        } 
    }
}

.mini-games {
    padding-top: 46px;
    padding-bottom: 144px;
    background:
        url(img/sec_med_star.svg) no-repeat 92vw 126px/69px,
        url(img/sec_small_star.svg) no-repeat 89vw 93px/35px,
        url(img/green_star.svg) no-repeat 92vw 3366px/69px,
        url(img/green_star.svg) no-repeat 87vw 3414px/41px,
        #202027;

    &__title {
        @include title-style;
        color: #fff;
    }

    &__content {
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__card {
        grid-column: span 12;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;

        &:nth-child(2n) {
            flex-direction: row;
        }

        &-img {
            width: 100%;
            height: auto;
            aspect-ratio: 6 / 5;

            &_item1 {
                background:
                    url(img/guess_the_number_ico.svg) no-repeat 50% 85% / 70%,
                    url(img/guess_the_number.png) no-repeat center / 165%,
                    #AD61FF;
            }

            &_item2 {
                background:
                url(img/simple_arithmetic.svg) no-repeat 40% 45% / 165% ,
                #FDAD00;
            }

            &_item3 {
                background:
                    url(img/flip_the_text.svg) no-repeat 55% 51% / 190%,
                    #565EEF;
            }

            &_item4 {
                background:
                    url(img/stone-scissors-paper-hend.png) no-repeat center / 25%, 
                    url(img/stone-scissors-paper-card.svg) no-repeat 50% 95% / 65%,
                    url(img/stone-scissors-paper.svg) no-repeat center / 165%,
                    #271A58;
            }

            &_item5 {
                background:
                    url(img/simple_quiz_card.svg) no-repeat center 95% / 65%,
                    url(img/simple_quiz.svg) no-repeat center /165%,
                    #99D100;
            }

            &_item6 {
                background:
                    url(img/random_color.svg) no-repeat 35% 50%/165%,
                    #271A58;
            }
        }

        &-info {
            padding: 48px;
            min-width: 600px;
            background: #fff;
        }

        &-title {
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            color: #202027;
        }

        &-text {
            padding-top: 24px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: #202027;
        }

        &-button {
            margin-top: 36px;
            @include button-style;
        }
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #BCEC30;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

@media (min-width: 1025px) and (max-width: 1299px) {
    .center {
        padding-left: calc(50% - 788px / 2);
        padding-right: calc(50% - 788px / 2);
    }

    .about {
        &__content{
            align-items: stretch;
            gap: 32px;

            & > :nth-child(n+4):nth-child(-n+6) {
            align-self: stretch;
            }
        }
    }
}

@use 'tablet';
@use 'mobile';