@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.header {
    padding-top: 196px;
    background: rgb(225, 255, 143);
    position: relative;

    &__title {
        @include title-style;
        color: #202027;
    }

    &__text {
        margin-top: 24px;
        @include text-style;
        color: #202027;

        &_bold {
            font-weight: bold;
        }
    }

    &__button {
        margin-top: 48px;
        @include button-style;
    }

    &__scrollbar {
        margin-top: 156px;
    }
}

.breadcrumb {
    display: flex;
    gap: 51px;
}

.about {
    padding-top: 94px;
    padding-bottom: 50px;
    background: #202027;

    &__title {
        @include title-style;
        color: #fff;
    }

    &__text {
        margin-top: 24px;
        @include text-style;
        color: #fff;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #BCEC30;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}